<header layout:fragment="navbar">
    <div class="container-fluid d-flex align-items-center justify-content-evenly p-3 bg-light rounded-2 w-100 ps-5 pe-5 w-100">
        <div class="flex-grow-1 text-nowrap">
            <h1>Bit Bus</h1>
        </div>
        <nav class="container-fluid d-flex align-items-center justify-content-end ms-5 p-0" id="navItems">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Início</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/cadastroProduto}">Cadastrar Produtos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/tabelaVisitas}">Visitas</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/tabelaOficinas}">Oficinas</a></li>
            </ul>
        </nav>
    </div>
</header>