body {
    font-family: Inter;
}

#navItems li {
    display: inline;
}

/*  FOOTER  */

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*  -----  */

/*  MAP  */

#mapHeader > select {
    width: 33%;
}

.tableProdutos {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.tableProdutos th, 
.tableProdutos td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tableProdutos th {
    background-color: #f2f2f2;
    color: #333;
}
.tableProdutos tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tableProdutos tr:hover {
    background-color: #ddd;
}
 .tableProdutos {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* INDEX */
.banner img {
    width: 100%;
    height: auto;
}

.background {
    width: 100%;
    background-color: #dce6ec;
}

button, a.btn {
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
}

.container-fluid .col-md-6 img {
    display: block;
}

.col-md-6 img {
	width: 50%;
	margin: auto;
}

.row{
	width: 73%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* FIM INDEX */