<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Cadastro de Produto</title>
</head>
<body layout:fragment="body">
	<main>
		<section class="container-fluid d-flex justify-content-center"
			style="max-width: 500px;">
			<form id="cadastroForm" action="/cadastroProduto" th:object="${produto}" method="post">
			
				<label for="categoria" class="form-label">Categoria</label>
				<select class="form-select" name="categoria" id="categoria">
				  <option selected>Selecione</option>
				  <option value="Processadores e Memórias">Processadores e Memórias</option>
				  <option value="Periféricos e Discos Removíveis">Periféricos e Discos Removíveis</option>
				  <option value="Servidores (Tower/Físico)">Servidores (Tower/Físico)</option>
				  <option value="Placas">Placas</option>
				  <option value="Telefones">Telefones</option>
				</select>
				
				<label for="codigo" class="form-label">Código</label>
				<input type="text" class="form-control" id="codigo" name="codigoProduto"/>
				
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" id="nome" name="nome"/>
				
				<label for="ano" class="form-label">Ano</label>
				<input type="number" class="form-control" id="ano" name="ano"/>
				
				<label for="quantidade" class="form-label">Quantidade</label>
				<input type="number" class="form-control" id="quantidade" name="quantidade"/>
				
				<label for="dimensao" class="form-label">Dimensão</label>
				<input type="text" class="form-control" id="dimensao" name="dimensao"/>
				
				<label for="informcoes" class="form-label">Informações</label>
				<input type="text" class="form-control" id="informcoes" name="informcoes"/>
				
				<label for="link" class="form-label">Link</label>
				<input type="text" class="form-control" id="link" name="link"/>
				
				<label for="localArmazenamento" class="form-label">Local de Armazenamento</label>
				<input type="text" class="form-control" id="localArmazenamento" name="localArmazenamento"/>
						
				<br/><br/>
				<center>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</center>
			</form>
		</section>
	</main>
	
	<script>
	document.addEventListener('DOMContentLoaded', function() {
	    var form = document.getElementById('cadastroForm');

	    form.addEventListener('submit', function(event) {
	        event.preventDefault();
	        
	        var formData = new FormData(form);
	        
	        fetch(form.action, {
	            method: 'POST',
	            body: formData
	        })
	        .then(function(response) {
	            return response.json(); // Parse da resposta como JSON
	        })
	        .then(function(data) {
	            if (data.status === 'success') {
	            	alert("Produto cadastrado com sucesso!");
	                // Limpar o formulário
	                form.reset();
	            } else {
	                // Exibir alerta de erro
	                alert(data.message);
	            }
	        })
	        .catch(function(error) {
	            // Exibir alerta de erro genérico
	           alert("Erro ao processar a solicitação!");
	        });
	    });
	});
	</script>
</body>
</html>