<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutVisitante}">
<head>
<title>Cadastro de Visitante</title>
</head>
<body layout:fragment="body">
	<main>
		<section class="container-fluid d-flex justify-content-center"
			style="max-width: 500px;">
			<form id="cadastroForm" action="/cadVisitanteOficina" th:object="${visitante}" method="post">
				
				<input type="hidden" th:field="*{oficina.id}"/>	
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" id="nome" name="nome"/>
				
				<label for="idade" class="form-label">Idade</label>
				<input type="number" class="form-control" id="idade" name="idade"/>
				
				<label for="escolaridade" class="form-label">Escolaridade</label>
				<select class="form-select" id="escolaridade" name="escolaridade">
				    <option value="Ensino Fundamental">Ensino Fundamental</option>
				    <option value="Ensino Médio">Ensino Médio</option>
				    <option value="Ensino Superior">Ensino Superior</option>
				</select>
				
				<label for="cidade" class="form-label">cidade</label>
				<input type="text" class="form-control" id="cidade" name="cidade"/>
				
				<label for="email" class="form-label">E-mail</label>
				<input type="text" class="form-control" id="email" name="email"/>
				
				<label for="opiniao" class="form-label">FeedBack</label>
				<input type="text" class="form-control" id="opiniao" name="opiniao"/>
						
				<br/><br/>
				<center>
					<button type="submit" class="btn btn-primary">Enviar</button>
				</center>
			</form>
		</section>
	</main>
	
	<script>
	document.addEventListener('DOMContentLoaded', function() {
	    var form = document.getElementById('cadastroForm');

	    form.addEventListener('submit', function(event) {
	        event.preventDefault();
	        
	        var formData = new FormData(form);
	        
	        fetch(form.action, {
	            method: 'POST',
	            body: formData
	        })
	        .then(function(response) {
	            return response.json(); // Parse da resposta como JSON
	        })
	        .then(function(data) {
	            if (data.status === 'success') {
	            	alert("Visitante cadastrado com sucesso!");
	                // Limpar o formulário
	                form.reset();
	            } else {
	                // Exibir alerta de erro
	                alert(data.message);
	            }
	        })
	        .catch(function(error) {
	            // Exibir alerta de erro genérico
	           alert("Erro ao processar a solicitação!");
	        });
	    });
	});
	</script>
</body>
</html>