<!doctype html>
<html lang="pt-br"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
    <title>Índice</title>
</head>
<body layout:fragment="body">
    <main>
        <table class="tableProdutos" border="1">
        <thead>
			<tr>
				<th>Código</th>
				<th>Nome</th>
				<th>Ano</th>
				<th>Quantidade</th>
				<th>Dimensões</th>
				<th>Informações</th>
				<th>Link</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="produto : ${produtos}">
				<td th:text="${produto.codigoProduto}"></td>
				<td th:text="${produto.nome}"></td>
				<td th:text="${produto.ano}"></td>
				<td th:text="${produto.quantidade}"></td>
				<td th:text="${produto.dimensao}"></td>
				<td th:text="${produto.informcoes}"></td>
				<td th:text="${produto.link}"></td>
			</tr>
		</tbody>
        </table>
    </main>
</body>
</html>