<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutVisitante}">
<head>
<title>Visitantes</title>
</head>

<body layout:fragment="body">
	<main>
	<table id="tabelaVisitante" class="tableVisitantes" border="1">
        <thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Idade</th>
				<th>Cidade</th>
				<th>Escolaridade</th>
				<th>FeedBack</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="visitante : ${visitantes}">
				<td th:text="${visitante.nome}"></td>
				<td th:text="${visitante.email}"></td>
				<td th:text="${visitante.idade}"></td>
				<td th:text="${visitante.cidade}"></td>
				<td th:text="${visitante.escolaridade}"></td>
				<td th:text="${visitante.opiniao}"></td>
			</tr>
		</tbody>
        </table>
	</main>
	</body>
</html>