<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Visitas</title>
</head>

<body layout:fragment="body">
    <a th:href="@{/cadastroVisita}">Nova Visita</a>
	<main>
	<table id="tabelaVisitas" class="tableProdutos" border="1">
        <thead>
			<tr>
				<th>Local</th>
				<th>Responsável</th>
				<th>Data Início</th>
				<th>Data Fim</th>
				<th>Adicionar visitante</th>
				<th>Visualizar Feedback</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="visita : ${visitas}">
				<td th:text="${visita.local}"></td>
				<td th:text="${visita.responsavel}"></td>
				<td th:text="${#dates.format(visita.dataInicio, 'dd/MM/yyyy')}"></td>
				<td th:text="${#dates.format(visita.dataFinal, 'dd/MM/yyyy')}"></td>
			</tr>
		</tbody>
        </table>
	</main>

</body>
</html>