<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Visitas</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-<HASH>" crossorigin="anonymous" />
</head>

<body layout:fragment="body">
	<main>
	<center>
		<button id="novaVisita" class="btn btn-primary">Nova Visita</button>
	</center>
	<form action="/tabelaVisitas" method="post" class="row justify-content-center">
		<div class="col-lg-6">
	        <div class="select-container">
	            <label for="local" class="form-label">Local</label>
	            <input type="text" class="form-control" id="local" name="local"/>
	            
	            <label for="nome" class="form-label">Responsável</label>
	            <input type="text" class="form-control" id="nome" name="responsavel"/>
	            <button type="submit" class="btn btn-primary">Buscar</button>
	        </div>
	    </div>
	</form>
	<table id="tabelaVisitas" class="tableProdutos" border="1">
        <thead>
			<tr>
				<th>Local</th>
				<th>Responsável</th>
				<th>Data Início</th>
				<th>Data Fim</th>
				<th>Adicionar visitante</th>
				<th>Visualizar Feedbacks</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="visita : ${visitas}">
				<td th:text="${visita.local}"></td>
				<td th:text="${visita.responsavel}"></td>
				<td th:text="${#dates.format(visita.dataInicio, 'dd/MM/yyyy')}"></td>
				<td th:text="${#dates.format(visita.dataFinal, 'dd/MM/yyyy')}"></td>
				<td>
				<button class="btn btn-primary"
							th:attr="data-id=${visita.id}"
							onclick="abrirJanelaVisitante(this.getAttribute('data-id'))">
						<i class="fas fa-search"></i>
				</button>
				</td>
				<td>
				<button class="btn btn-primary"
							th:attr="data-id=${visita.id}"
							onclick="abrirJanelaFeedBack(this.getAttribute('data-id'))">
						<i class="fas fa-search"></i>
				</button>
				</td>
			</tr>
		</tbody>
        </table>
	</main>

	<script>
	document.getElementById("novaVisita").addEventListener("click", function() {
	    window.location.href = "/cadastroVisita";});
	</script>
	
	<script>
	function abrirJanelaVisitante(id) {
	    var url = "/cadastroVisitante?id=" + id;
	    
	    // Abre uma nova janela
	    window.open(url, "_blank", "width=800,height=600");
	}
	</script>
	
	<script>
	function abrirJanelaFeedBack(id) {
	    var url = "/tabelaVisitantes?id=" + id;
	    
	    // Abre uma nova janela
	    window.open(url, "_blank", "width=1000,height=900");
	}
	</script>
	</body>
</html>